# Assignment 1: Python Practice (Marketing Analytics)
## Your name:

Submit the completed file to Canvas.

## Q1

Complete the cell below by adding the following steps:

1. Convert y to an integer
2. Compute x + y
3. Print the result

In [3]:
x = 5
y = 10

x + y

15

## Q2

Complete the cell below to compute the boolean value of the comparison m > n

In [4]:
m = 20
n = 50

m > n

False

## Q3

Identify the error in the following code and provide a corrected version.

In [5]:
a = 42.5
b = "Hello"
print(str(a) + b)

42.5Hello

## Q4

Write a function that checks if a number is greater than 50. Return True if it is, and False otherwise.

In [9]:
def is_greater_than_50(my_num):
    if my_num > 50:
        return True
    else:
        return False

# Example usage:
print(is_greater_than_50(75))  # True
print(is_greater_than_50(25))  # False

True
False

## Q5

Given a list of numbers, "numbers", write code to print whether each number is greater than or equal to 30 using a for loop.
- If a number is greater than or equal to 30, print the number itself and also the string "at least 30"
- If a number is less than 30, print the number itself and the string "less than 30"

In [11]:
numbers = [10, 23, 45, 60, 17]
for num in numbers:
    if num >= 30:
        print(f"{num} at least 30")
    else:
        print(f"{num} less than 30")

10 less than 30
23 less than 30
45 at least 30
60 at least 30
17 less than 30

## Q6
1. Using list comprehension, create a new list where each number from "numbers_2" is divided by 2.
2. Name the new list "numbers_new".
3. Print the list.

In [12]:
numbers_2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers_new = [num / 2 for num in numbers_2]
print(numbers_new)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

## Q7

You are given a dictionary named "student_scores".

1. Add a new student Eva with a score of 80 to the dictionary
2. Print the whole dictionary
3. Print specifically Charlie's Score

In [13]:
student_scores = {"Alice": 85, "Bob": 92, "Charlie": 78, "Diana": 90}
student_scores["Eva"] = 80
print(student_scores)
print(student_scores["Charlie"])

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 90, 'Eva': 80}
78

## Q8

Write a function called "sum_of_squares" that takes a list of numbers as input and returns the sum of the squares of all the numbers in the list.
For example, when running the following line of code, the output should be 14

sum_of_squares([1, 2, 3])  # Output should be 14

In [17]:
# Define your function here
def sum_of_squares(numbers):
    total = 0
    for num in numbers:
        total += num ** 2
    return total
# The following line should return 14
sum_of_squares([1,2,3])

14

## Rename the file to Lastname_Firstname_Assignment1.ipynb.
## Download this file to your computer. Then submit the downloaded file to Canvas.